@font-face {
  src: url(fonts/Wellington-Font.ttf);
  font-family: Wellington-Font;
}

.main-heading {
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Wellington-Font;
}

:root {
  --gradient: linear-gradient(
    25deg,
    #71ff90ab,
    #fa8ca5ab,
    #f8d84ad2,
    #ffffffab
  );
}

.sub-headings {
  display: flex;
  flex-flow: column wrap;
}

body {
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 5s infinite alternate;
  font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 30px;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
