.main-heading {
  font-size: 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --gradient: linear-gradient(
    25deg,
    #71ff90d2,
    #73daecd2,
    #fa8ca5d2,
    #ffc75fd2,
    #f8d84ad2
  );
}

.sub-headings {
  display: flex;
  flex-flow: column wrap;
}

body {
  background-image: var(--gradient);
  /*background-color: #f6f0c4;
  background-image: linear-gradient(315deg, #f6f0c4 1%, #d99ec9 74%); */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
}
