@font-face {
  src: url(fonts/ArtTypo-Font.ttf);
  font-family: ArtTypo-Font;
}
* {
  padding: 0;
  margin: 0;
}

/*
.content-container {
  width: 100%;
  height: 500px;
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 5s infinite alternate;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-around;
} */
:root {
  --gradient: linear-gradient(
    25deg,
    #71ff90ab,
    #fa8ca5ab,
    #f8d84ad2 /* #ffffffab */
  );
}
.main-heading {
  font-size: 45px;
  margin: 50px;
  padding: 40px;
  font-family: ArtTypo-Font;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.sub-heading {
  font-family: ArtTypo-Font;
  font-size: 30px;
  line-height: 1.3;
  margin: 50px;
  padding: 5px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.content-sections {
  font-family: ArtTypo-Font;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 15px;
}

.content-headings {
  font-size: 45px;
  text-decoration: underline;
  padding: 5px;
}

.content-sub-headings {
  font-size: 40px;
  padding: 10px;
}

.content-info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-left: 60px;
  padding: 40px;
  line-height: 200%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.button {
  width: 30em;
  height: 3em;
  border: none;
  font-size: 25px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  box-shadow: #57a9b4 0px 20px 30px -10px;
}

.button:hover {
  background-color: #79eefd;
}

.button:active {
  background-color: #79eefd;
  box-shadow: 0 5px #57a9b4;
  transform: translateY(4px);
}

a:link {
  color: #0125f0;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #0125f0;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #0125f0;
  background-color: transparent;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

body {
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
